{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <fieldset>
            <legend>Enter Your Login Info</legend>
            <label for="email">Email Address</label>
            <input type="text" name="email" value="{{ last_username }}" required autofocus />
            <br />
            <label for="password">Password</label>
            <input type="password" name="password" value="" required />
            <br />
            <input type="hidden" name="update" value="1" />
            <input type="submit" value="Login" /><br />
            <a href="#" title="Forgotten Password?">Forgotten Password?</a>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        </fieldset>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
</form>
{% endblock %}
