{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
	{% for message in app.flashes( 'info' ) %}
		<p><b>{{ message }}</b></p>
	{% endfor %}

	{% if errors|length %}
		<div class="error">
			<span class="error_text_top">The Following {{ errors|length == 1 ? 'Error Has' : errors|length ~ ' Errors Have' }} Occurred!</span><br />
			<span class="error_text">
					{% for error in errors %}
						- {{ error.message }}<br />
					{% endfor %}
			</span>
		</div>
	{% endif %}

	<fieldset>
		<legend>Contact Form</legend>
		{{ form_start( form ) }}
			{{ form_label( form.name ) }}
			{{ form_widget( form.name ) }}<br />

			{{ form_label( form.email ) }}
			{{ form_widget( form.email ) }}<br />

			{{ form_label( form.subject ) }}
			{{ form_widget( form.subject ) }}<br />

			{{ form_label( form.message ) }}
			{{ form_widget( form.message ) }}<br />

			{{ form_widget( form.submit ) }}<br />
		{{ form_end( form, { 'render_rest': false } ) }}
	</fieldset>
{% endblock %}